.navbar {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  padding: 1em 4em;
}
.navbar .logo {
  flex: 1;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  font-family: var(--meix) !important;
}
.navbar .nav-items {
  /* font-family: var(--oswald); */
  flex: 2;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.5em;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
}
