.active {
}
.active::after {
  content: "💙";
  font-size: 8px;
  position: relative;
  left: 1em;
  top: -0.3em;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5em 12em;
  margin: 0 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  background-color: white;
  /* border-radius: 50px; */
}
.navbar .first-nav {
  flex: 1;
}
.navbar .second-nav {
  flex: 2;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.navbar .link {
  margin: 0 0 0 1em;
  color: var(--black);
  font-family: var(--poor);
  font-size: 13px;
  cursor: pointer;
}
