.techStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1px;
}

.techBar {
  position: relative;
  width: 20px;
  height: 200px;
  background: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 0.5em;
  display: flex;
  align-items: flex-end;
}

.coloredTechBar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: var(--dark-gray);
  border-radius: 8px 8px 0 0;
  transition: height 0.4s;
  position: relative;
}
.coloredTechBar .percentage {
  position: absolute;
  bottom: 2em;

  font-size: 0.6em;
  color: var(--white);
  text-align: center;
}
