@import url("https://fonts.googleapis.com/css2?family=Anton&family=Edu+SA+Beginner:wght@400;500;600;700&family=Mali:wght@200;300;400;500;600;700&family=Poor+Story&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--poor);
  color: var(--black);
  cursor: none !important;
}
span {
  display: inline-block;
  font-family: var(--anton);
  font-size: 6.5vw;

  z-index: 6;
  transition: all 0.5s ease-in-out;
  white-space: nowrap;
  mix-blend-mode: multiply;
}
:root {
  /* fonts  */
  --anton: "Anton", sans-serif;
  --poor: "Mali", cursive;

  /* --poor: "Edu SA Beginner", cursive; */
  --poppins: "Poppins", sans-serif;
  /* --poor: "Poppins", sans-serif; */

  /* colors */
  --black: #333333;
  --black2: #181818;
  --white: #f7f7f7;
  --gray: #3d3c3c;
  /* --violet: rgb(206, 133, 73); */
  --violet: rgb(43, 110, 172);
}

.hamMenu-container {
  border: solid 1px black;
  border-radius: 30px;
  display: flex;
  padding: 1em;
  width: max-content;
  margin: 2em;
  background-color: var(--white);
  position: fixed;
  z-index: 999 !important;
}
.hamMenu {
  font-size: 25px !important;
  font-weight: 900;
  cursor: pointer;
  background-color: var(--white);
  z-index: 999 !important;
}

.hamMenu-container:hover {
  background-color: rgba(51, 51, 243, 0.158);
}

.hamMenu-container:hover .hamMenu {
  color: var(--white) !important ;
  background-color: transparent;
}

@media screen and (max-width: 900px) {
  span {
    font-size: 9vw;
  }
}
