.project {
  height: 50vh;
  width: 250px;
  overflow: hidden;
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 1.5em;

  background-color: var(--white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project:first-child {
  margin-left: 5em;
}

.project .project-info {
  /* background-color: rgba(0, 0, 0, 0.597); */
  padding: 2em;
}
.project .project-info .project-lang {
  font-size: 13px;
  color: var(--black);
  font-family: var(--poppins) !important;
}
.project .project-info .project-title {
  font-size: 25px;
  color: var(--black);
  font-family: var(--poppins) !important;
}
.project button {
  font-family: var(--poppins) !important;
  margin: 2em 4em;
  padding: 1em;
  background-color: var(--black2);
  color: var(--white);
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}
