.work {
  /* margin-top: 6em; */
  /* padding-top: 6em; */
}
.work .worklines {
  position: relative;
  top: 0;
  left: 35%;

  width: 600px;
}

.work .projects-container {
  border: solid 1px;
  overflow: hidden !important;
  background-color: var(--black);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05) inset;

  height: 80vh !important;
  padding: 4em 0;
}

.womansit {
  position: absolute;
  top: 105em;
  right: 2%;
  height: 250px;
}
