.showcase {
  height: 70vh;
  position: relative;
  background-color: var(--black);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: crosshair;
}

.showcase-inner {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  max-width: fit-content; /* Set your preferred max width */
  width: 100%; /* Allows it to shrink on small screens */
  padding: 0 3rem; /* Optional: add some padding */
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
}
